* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-image: url('./assets/header-bg.png');
  background-size: cover;
  width: 100%;
  padding-block-end: 50px;
}

nav {
  display: block;
}

nav ul {
  visibility: hidden;
  cursor: none;
  height: 10px;
}

nav div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav div div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: wheat;
  z-index: 20;
}

nav div div i {
  padding: 12px;
  font-size: 40px;
}

.logo {
  visibility: hidden;
  cursor: none;
  text-decoration: none;
  color: #ec5242;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-weight: 800;
}

nav div ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  visibility: visible;
  list-style: none;
  text-decoration: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(236, 82, 21, 0.7);
  backdrop-filter: blur(0.5rem);
  z-index: 10;
  text-align: left;
  transition: 0.5s;
  padding-top: 40px;
  transform: translateX(-100%);
}

nav div ul li {
  font-weight: 600;
  font-size: 32px;
  padding-right: 30px;
  padding-top: 50px;
}

nav div ul li a {
  text-decoration: none;
  color: white;
}

.welcome-section {
  margin: 20px;
  margin-top: 40px;
}

.welcome-section h3 {
  font-size: 25px;
  color: #ec5242;
  font-weight: 500;
}

.welcome-section h1 {
  font-size: 10vw;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #ec5242;
}

.welcome-section p {
  font-size: medium;
  font-weight: 600;
  width: 85%;
  background-color: #f0ebeb;
  border: 4px solid white;
  padding: 20px;
  color: rgb(73, 73, 73);
}

.welcome-section h2 {
  font-size: 27px;
  margin-block: 10px;
  color: rgb(73, 73, 73);
}

.welcome-section h4 {
  color: rgb(73, 73, 73);
}

.welcome-section h1 span::after {
  content: "\a";
  white-space: pre;
}

.main-program {
  background-image: url("./assets/pattern_bg.png");
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  text-align: center;
  padding: 30px;
  padding-bottom: 70px;
}

.main-program h2 {
  color: white;
  font-weight: 500;
}

.underline {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid rgb(239, 81, 60);
  margin: 0 auto 54px;
}

.program-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: left;
  margin-block: 40px;
  margin-bottom: 70px;
}

.event {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  background: rgba(135, 135, 138, 0.2);
  padding: 20px;
}

.event div {
  width: 10%;
  margin-inline: 10px;
}

.event h3 {
  color: #ec5242;
  width: 10%;
  margin-inline: 10px;
}

.event p {
  color: rgb(236, 222, 222);
  width: 45%;
  margin-inline: 10px;
}

.main-program a {
  text-decoration: none;
  color: rgb(236, 222, 222);
  background-color: #ec5242;
  padding: 25px;
  padding-inline: 35px;
  border: none;
  font-size: 5vw;
  font-weight: 500;
  white-space: nowrap;
}

.featured-speakers {
  text-align: center;
  padding: 30px;
}

.featured-speakers h2 {
  color: black;
  font-size: 30px;
}

.speakers {
  display: grid;
  grid-template-columns: auto;
  row-gap: 50px;
}

.speaker {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.speaker img {
  width: 200px;
  height: 200px;
}

.speaker .speaker-details {
  text-align: left;
  width: 50%;
}

.underline2 {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.speaker-details h3 {
  font-size: 27px;
}

.speaker-details h4 {
  font-size: 18px;
  color: #ec5242;
  font-style: italic;
  margin-top: 15px;
}

.speaker-details p {
  color: rgb(73, 73, 73);
  line-height: 24px;
  font-weight: 600;
}

.partners-section {
  text-align: center;
  background-color: rgb(39, 42, 50);
}

.partners-section h2 {
  font-size: 30px;
  color: white;
  margin-top: 70px;
  padding-top: 40px;
}

.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 70px;
}

.partners img {
  width: 150px;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  padding-block: 30px;
  padding-inline: 20px;
}

.license {
  font-size: 25px;
  font-weight: 600;
}

.rights {
  font-size: 15px;
}

@media (min-width: 768px) {
  nav ul {
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 25px;
    color: white;
    background-color: rgb(49, 45, 45);
    padding-block: 15px;
    padding-right: 100px;
    max-width: 100%;
    cursor: pointer;
  }

  nav ul li a {
    text-decoration: none;
    font-size: 16px;
  }

  nav div {
    justify-content: space-between;
    background-color: white;
    padding-block: 20px;
    padding-right: 90px;
    padding-left: 200px;
  }

  nav div div {
    display: none;
    cursor: none;
  }

  .logo {
    visibility: visible;
    cursor: pointer;
  }

  nav div ul {
    height: 0;
    position: static;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    visibility: visible;
    cursor: pointer;
    background-color: white;
    transform: translateX(0%);
    gap: 60px;
  }

  nav div ul li {
    padding: 0;
    font-size: 18px;
    font-weight: 500;
  }

  nav div ul li a {
    color: rgb(73, 73, 73);
  }

  .special-btn {
    border: 4px solid #ec5242;
    padding: 10px;
    color: #ec5242;
    white-space: nowrap;
  }

  .welcome-section {
    margin-left: 200px;
    padding-block: 60px;
  }

  .welcome-section h3 {
    font-size: 40px;
  }

  .welcome-section h1 {
    font-size: 55px;
  }

  .welcome-section p {
    width: 45%;
    margin-block: 30px;
  }

  .welcome-section h2 {
    font-size: 30px;
    font-weight: 700;
  }

  .welcome-section h4 {
    font-size: 20px;
  }

  .program-events {
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  .event {
    width: 150px;
    height: 260px;
    flex-direction: column;
    gap: 10px;
    padding-block: 20px;
    justify-content: space-around;
  }

  .event div {
    width: 100%;
  }

  .event h3 {
    width: 100%;
  }

  .event p {
    width: 100%;
  }

  .main-program a {
    text-decoration: underline;
    background-color: transparent;
    font-size: 20px;
  }

  .speakers {
    grid-template-columns: auto auto;
    column-gap: 20px;
  }

  .speaker {
    flex-wrap: nowrap;
  }
}
